beautifulsoup4==4.11.1
certifi==2021.10.8
charset-normalizer==2.0.12
distlib==0.3.4
filelock==3.6.0
idna==3.3
importlib-metadata==4.11.3
jaraco.context==4.1.1
more-itertools==8.12.0
pbr==5.8.1
platformdirs==2.5.2
PyAudio==0.2.11
PySimpleGUI==4.59.0
pyttsx3==2.90
requests==2.27.1
six==1.16.0
soupsieve==2.3.2.post1
SpeechRecognition==3.8.1
stevedore==3.5.0
typing-extensions==4.2.0
urllib3==1.26.9
virtualenv==20.14.1
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
wikipedia==1.4.0
wolframalpha==5.0.0
xmltodict==0.12.0
zipp==3.8.0
